.container {
  margin-top: 30px;
  margin-inline: auto;
  width: 75%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
  flex-direction: row;
}
.container > div {
  align-self: flex-end;
  text-align: center;
  font-size: larger;
  color: white;
  padding-top: 10px;
}
.footer {
  position: fixed;
  background-color: yellow;
  bottom: 0;
}
